<div class="container">
  <form #f="ngForm" (ngSubmit)="addData(f)">
    <div class="mb-3">
      <label class="form-label">Name</label>
      <input type="text" class="form-control" name="name" ngModel>
    </div>
    <div class="mb-3">
      <label class="form-label">Email address</label>
      <input type="email" class="form-control" name="email" ngModel>
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="password" class="form-control" name="pass" ngModel>
    </div>
    <div class="mb-3">
      <label class="form-label">Choose file</label>
      <input type="file" (change)="upFile($event)">
    <button type="submit" class="btn btn-info" (click)="addFile()">Add file</button>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  
  
  <ul class="list-group" *ngFor="let data of userData | async">
    <li class="list-group-item">{{data.name}}</li>
    <img src="{{data.img}}" alt="" width="50" height="50">
    <button type="submit" class="btn btn-primary" (click)="updateData(data.id)">Edit</button>
    <button type="submit" class="btn btn-primary" (click)="deteleData(data.id)">Delete</button>
  </ul>
</div>